body{
    margin: 0px;
    padding: 0;
    background-color: antiquewhite;
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
p{
    font-family: Arial;
    font-size: large;
    font-weight: 300;
    font-style: italic;
    color: #999;
    text-align: right;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 1px 0px 1px #f04;
}
span{
    color: blue;size: 30px;
}
#para{
    color: aqua;
    display: inline-block;
}